#Roulette {
    height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    border: 1px solid white;
    border-collapse: collapse;
  }

.btn-secondary {
    background-color: transparent !important;
    border: none;
    padding: 0;
    cursor: pointer;
}
