#machine {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 25px;
  background-clip: content-box;
  width: 400px;
  background-color: DodgerBlue;
}

#reel {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  justify-content: center;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.child {
  margin: 0 auto;
}