<div class="d-flex justify-content-center text-center mt-4">
    {% if messages %}
      {% for message in messages%}
        {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
      {% endfor %}
    {% endif %}
</div>

<script>
  gsap.from(".alert-success", { duration: 0.5, opacity: 0, y: -20, ease: "expo.out" });
  gsap.from(".alert-danger", { duration: 0.5, opacity: 0, y: 20, ease: "expo.out" });
</script>

