{% extends 'base.html' %}
{% block title %}
Slot machine TEST
{% endblock %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'slot_machine.css' %}">

<div id="table" justify-content="center" class="table">
<div
    hx-post="{% url 'get_slot_table' %}" 
    hx-target="#table"
    hx-swap="outerHTML"
    hx-trigger="load">
</div>
</div>
{% endblock %}