{% extends 'base.html' %}
{% block content %}
<style>
    #card {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      background-clip: content-box;
      background-color: DodgerBlue;
      padding: 10px;
      font-size: 100px;
    }

    #card_flex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: #fffdd0;
        padding: 10px;
      }

      #section_name {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        background-clip: content-box;
        color: #000000;
        font-size: 30px;
      }

      #choice {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 50px;
        background-origin: padding-box;
      }
</style>
<div class="p-3 mb-2 text-white">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 5px;">
        {% comment %} here we are inputting Player and Banker card segments {% endcomment %}
        <div id="bac_cards"></div>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 5px;">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 10px;">
                Bet: 
                <input id="bet" type="number" min="0" value="type_value">
            </div>
            <div id="bet_section" style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 50px;">
                <div id="choice" class="p-2">
                    <button 
                        type="button" 
                        class="btn btn-success btn-lg"
                        hx-vals='js:{"side": "player", "bet": document.getElementById("bet").value}'
                        id="player_choice"
                        hx-post="{% url 'set_bac_bet' %}" 
                        hx-target="#bet_result" 
                        hx-swap="innerHTML">
                        Player
                    </button>
                </div>
                <div id="choice" class="p-2">
                    <button 
                        type="button" 
                        class="btn btn-primary btn-lg"
                        hx-vals='js:{"side": "tie", "bet": document.getElementById("bet").value}'
                        id="player_choice"
                        hx-post="{% url 'set_bac_bet' %}" 
                        hx-target="#bet_result" 
                        hx-swap="innerHTML">
                        Tie
                    </button>
                </div>
                <div id="choice" class="p-2">
                    <button 
                        type="button" 
                        class="btn btn-danger btn-lg"
                        hx-vals='js:{"side": "banker", "bet": document.getElementById("bet").value}'
                        id="player_choice"
                        hx-post="{% url 'set_bac_bet' %}" 
                        hx-target="#bet_result" 
                        hx-swap="innerHTML">
                        Banker
                    </button>
                </div>
            </div>
            <div id="bet_result" class="p-2"></div>
            <div id="game_result" class="p-2"></div>
        </div>
    </div>
</div>
<div
    hx-post="{% url 'get_bac_cards' %}" 
    hx-target="#bac_cards"
    hx-swap="innerHTML"
    hx-trigger="load">
</div>
{% endblock %}
