<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load django_bootstrap5 %}
    {% load bootstrap_icons %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> mozna potem uzyc innych ikonek --> 
    <title> {% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.5.0"
    integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI"
    crossorigin="anonymous"></script>
    <!-- cdn link do animacji GSAP --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
</head>

<body>

  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-lg-2 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Virtual Casino</span>
                </a>
                {% if user.is_authenticated %}
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/home" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'balance' %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi bi-cash-coin"></i> <span class="ms-1 d-none d-sm-inline">Bank</span></a>
                    </li>
                    <li>
                        <a href="/roulette" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi bi-vinyl"></i> <span class="ms-1 d-none d-sm-inline">Roulette</span></a>
                    </li>
                    <li>
                        <a href="/slot_machine" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi bi-joystick"></i> <span class="ms-1 d-none d-sm-inline">Slot</span></a>
                    </li>
                    <li>
                        <a href="/baccarat" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi bi-suit-spade"></i> <span class="ms-1 d-none d-sm-inline">Baccarat</span> </a>
                    <li>
                        <a href="/users_list" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span> </a>
                    </li>
                    <li>
                        <a href="/animation_test" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi bi-bug-fill"></i> <span class="ms-1 d-none d-sm-inline">TEST</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-2">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://cdn2.iconfinder.com/data/icons/audio-16/96/user_avatar_profile_login_button_account_member-512.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1"> {{ user.username }}
                        {% comment %} <br> Your balance: <i> {{ user.balance.balance }} </i> </span> {% endcomment %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit profile</a></li>
                        <li><a class="dropdown-item" href="/help">Help</a></li>
                        <li>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider d-block d-sm-none">
                            <a class="dropdown-item d-block d-sm-none"> Your balance: <i> {{ user.balance.balance }} </i> </a>
                        </li>  
                    </ul>
                    <div id="user_balance"></div>
                </div> 
                {% else %}
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <i class="fs-4 bi bi-book-half"></i> <span class="ms-1 d-none d-sm-inline">Landing page</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link align-middle px-0">
                            <i class="fs-3 bi-box-arrow-in-right"></i> <span class="ms-1 d-none d-sm-inline">Sign in</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi bi-pencil-square"></i> <span class="ms-1 d-none d-sm-inline">Sign up</span>
                        </a>
                    </li>
                </ul>  
                {% endif %}

            </div>
        </div>
        <div class="col p-0 m-0">
            <div class="background-radial-gradient overflow-hidden min-vh-100" >
                {% if user.is_authenticated %}
                    {% block content %}
                    {% endblock %}
                    {% else %}
                    <div class="row gx-lg-5 my-4 d-flex align-items-center justify-content-center text-center">
                        <div class="col-lg-8 mb-5 mb-lg-0 center">
                            <h1 class="mt-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                            Please <a href="{% url 'login' %}" style="color: inherit;"> sign in here</a></h1>
                            <h2 style="color: hsl(218, 81%, 75%)">if you want to see the page or play
                            </h2><br />
                        </div>
                    </div>
                {% endif %}
            </div>

            <script>
                document.body.addEventListener('htmx:configRequest', (event) => {
                event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
                })
            </script>
        </div>
    </div>
  </div>
  <div
    hx-post="{% url 'get_balance' %}" 
    hx-trigger = "every 1000ms"
    {% comment %} hx-trigger = "load" {% endcomment %}
    hx-target="#user_balance"
    hx-swap="innerHTML">
</div>

</body>

</html>