{% extends 'base.html' %}
{% block title %}
Help
{% endblock %}
{% block content %}
    <div class="container px-4 py-5 px-md-5 text-center text-lg-center my-5 mt-3">
      <div class="row gx-lg-5 align-items-center mb-5 d-flex justify-content-center">
        <div class="col-lg-8 mb-5 mb-lg-0 center">
            <h1 class="mt-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)"> 
                Contact us </h1>
            <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                Feel free to contact us via email if you encounter any problems with your account or our services. <br>
                We are here to help!
            </p>
            <ul style="color: hsl(218, 81%, 95%)" class="text-center d-inline-block">
                <li>jk300613@student.polsl.pl</li>
                <li>mg300365@student.polsl.pl</li>
            </ul> 
        </div>
      </div>
    </div>

<script>
    gsap.from(".col-lg-8", { duration: 1, opacity: 0, y: 50, ease: "expo.out" });
</script>
      
{% endblock %}

