{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}

{% block content %}
    
<div class="row gx-lg-5 my-4 d-flex align-items-center justify-content-center text-center">

  {% include 'alerts.html' %} {% comment %} teraz zamiast kodu w kazdym html osobno mamy plik alerts.html do ktorego sie odnosimy {% endcomment %}

  <div class="col-lg-8 mb-5 mb-lg-0 center">
    <h1 class="mt-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
     Welcome <b>{{ user.username }}</b>!</h1>
    <h2 style="color: hsl(218, 81%, 75%)">Choose whatever game you want and play!
    </h2><br />
    <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
     Don't forget to add some credits to your account.
    </p>
  </div>
</div>

<script>
  gsap.from(".col-lg-8", { duration: 1, opacity: 0, y: 50, ease: "expo.out" });
</script>

{% endblock %}
