{% extends 'base.html' %}
{% block title %}
Your profile
{% endblock %}
{% block content %}

<h1> Here you can edit your profile </h1>
<br/><br/>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Update Profile</button>
</div>

{% endblock %}