{% extends 'landing.html' %}
{% block title %}
Register
{% endblock %}

{% block content %}
<div class="row justify-content-center m-2">
    <div class="col-lg-12 mb-auto mb-lg-0 mt-5 mx-5">
        <div class="card">
        <div class="card-body px-4 py-5 px-md-5">
            <div class = "text-center mt-2 fw-bold" style="color: black">
             <h1>Register now! v1 (old)</h1>
            </div>
            <form method="POST" action="{% url 'register' %}" >
            {% csrf_token %}
                <div class="col-8 form-outline text-center my-4 mx-auto" >
                    <input type="text" class="form-control" placeholder = "Nickname" name = "nickname" value = "{{ nickname }}" >
                </div>

                <div class="col-8 form-outline text-center my-4 mx-auto">
                    <input type="text" class="form-control" placeholder = "Age" name = "age" value = "{{ age }}" >
                </div>

                <div class="col-8 form-outline text-center my-4 mx-auto">
                    <input type="email" class="form-control" placeholder = "Email Address" name = "email" value = "{{ email }}" >
                </div>

                <div class="col-8 form-outline text-center my-4 mx-auto">
                    <input type="password" id="form2Example2" class="form-control" placeholder = "Password" name = "password" >
                </div>

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block mb-3 fw-bold">Sign up</button>
                </div>

                <div class="text-center fw-bold">
                    <p><a href="{% url 'login' %}" class="text-decoration-none">Already member? Log in</a></p>
                </div>
            </form>
        </div>
        </div>
    </div>

</div>
{% endblock %}