{% extends 'base.html' %}
{% block title %}
Roulette
{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'roulette.css' %}">

<table id="Roulette" class="table table-bordered table-dark table-sm">
    <thead>
    <tr>
        <td colspan="14">Roulette</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="background-color:{{green_color_hex}}">
            #
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_1"
            hx-vals='js:{"name": "row_1", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_2"
            hx-vals='js:{"name": "row_2", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_3"
            hx-vals='js:{"name": "row_3", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_4"
            hx-vals='js:{"name": "row_4", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_5"
            hx-vals='js:{"name": "row_5", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_6"
            hx-vals='js:{"name": "row_6", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_7"
            hx-vals='js:{"name": "row_7", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_8"
            hx-vals='js:{"name": "row_8", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_9"
            hx-vals='js:{"name": "row_9", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_10"
            hx-vals='js:{"name": "row_10", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_11"
            hx-vals='js:{"name": "row_11", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="row_12"
            hx-vals='js:{"name": "row_12", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11 to 1 
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            #
        </td>
    </tr>
    <tr>
        <td rowspan="6" style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="0"
            hx-vals='js:{"name": "0", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            0
        </button>
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="3"
            hx-vals='js:{"name": "3", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            3
            </button>
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="6"
            hx-vals='js:{"name": "6", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            6
            </button>
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="9"
            hx-vals='js:{"name": "9", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            9
            </button>
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="12"
            hx-vals='js:{"name": "12", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            12
            </button>
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="15"
            hx-vals='js:{"name": "15", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            15
            </button>
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="18"
            hx-vals='js:{"name": "18", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            18
            </button>
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="21"
            hx-vals='js:{"name": "21", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            21
            </button>
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="24"
            hx-vals='js:{"name": "24", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            24
            </button>
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="27"
            hx-vals='js:{"name": "27", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            27
            </button>
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="30"
            hx-vals='js:{"name": "30", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            30
            </button>
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="33"
            hx-vals='js:{"name": "33", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            33
            </button>
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="36"
            hx-vals='js:{"name": "36", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            36
            </button>
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="first_col"
            hx-vals='js:{"name": "first_col", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            2 to 1
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button 
            class="btn btn-secondary"
            id="2"
            hx-vals='js:{"name": "2", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            2
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="5"
            hx-vals='js:{"name": "5", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            5
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="8"
            hx-vals='js:{"name": "8", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            8
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="11"
            hx-vals='js:{"name": "11", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            11
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="14"
            hx-vals='js:{"name": "14", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            14
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="17"
            hx-vals='js:{"name": "17", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            17
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="20"
            hx-vals='js:{"name": "20", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            20
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="23"
            hx-vals='js:{"name": "23", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            23
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="26"
            hx-vals='js:{"name": "26", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            26
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="29"
            hx-vals='js:{"name": "29", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            29
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="32"
            hx-vals='js:{"name": "32", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            32
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="35"
            hx-vals='js:{"name": "35", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            35
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="second_col"
            hx-vals='js:{"name": "second_col", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            2 to 1
        </td>
    </tr>
    <tr>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="1"
            hx-vals='js:{"name": "1", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            1
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="4"
            hx-vals='js:{"name": "4", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            4
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="7"
            hx-vals='js:{"name": "7", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            7
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="10"
            hx-vals='js:{"name": "10", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            10
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="13"
            hx-vals='js:{"name": "13", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            13
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="16"
            hx-vals='js:{"name": "16", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            16
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="19"
            hx-vals='js:{"name": "19", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            19
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="22"
            hx-vals='js:{"name": "22", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            22
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="25"
            hx-vals='js:{"name": "25", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            25
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="28"
            hx-vals='js:{"name": "28", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            28
        </td>
        <td>
            <button 
            class="btn btn-secondary"
            id="31"
            hx-vals='js:{"name": "31", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            31
        </td>
        <td style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="34"
            hx-vals='js:{"name": "34", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            34
        </td>
        <td style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="third_column"
            hx-vals='js:{"name": "third_col", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            2 to 1
        </td>
    </tr>
    <tr>
        <td colspan="4" style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="1st12"
            hx-vals='js:{"name": "1st12", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            1st 12
        </td>
        <td colspan="4" style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="2nd12"
            hx-vals='js:{"name": "2nd12", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            2nd 12
        </td>
        <td colspan="5" style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="3rd12"
            hx-vals='js:{"name": "3rd12", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            3rd 12
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="1-18"
            hx-vals='js:{"name": "1-18", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            1-18
        </td>
        <td colspan="2" style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="even"
            hx-vals='js:{"name": "even", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            Even
        </td>
        <td colspan="2" style="background-color:{{red_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="red"
            hx-vals='js:{"name": "red", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            Red
        </td>
        <td colspan="2" >
            <button 
            class="btn btn-secondary"
            id="black"
            hx-vals='js:{"name": "black", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            Black
        </td>
        <td colspan="2" style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="odd"
            hx-vals='js:{"name": "odd", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            Odd
        </td>
        <td colspan="3" style="background-color:{{green_color_hex}}">
            <button 
            class="btn btn-secondary"
            id="19-36"
            hx-vals='js:{"name": "19-36", "bet": document.getElementById("bet_value_rou").value}'
            hx-post="{% url 'roulette_button_action' %}" 
            hx-target="#bets"
            hx-swap="innerHTML">
            19-36
        </td>
    </tr>
    </tbody>
</table>
<div
    hx-post="{% url 'set_roulette' %}"
    hx-trigger="load once"
    hx-target="#bets"
    hx-swap="innerHTML"> 
</div>
<div class="p-3 mb-2 bg-success text-white">
    Type your bet
    <input type="number" min="0" max="100" id="bet_value_rou" value="type_value">
    <button 
        class="btn btn-primary" 
        id="play"
        hx-post="{% url 'spin_roulette' %}" 
        hx-target="#random" 
        hx-swap="innerHTML"> Losu Losu
    </button>
    <p id="random"></p>
</div>
<div id="bets"></div>

<script>
    gsap.from([".table", ".p-3"], { duration: 0.8, opacity: 0.5, x: -2000, ease: "power4.out" });
</script>

{% endblock %}