{% extends 'base.html' %}
{% block title %}
Users page
{% endblock %}

{% block content %}
<div class="container px-4 py-5 px-md-5 text-center text-lg-center my-5 mt-3">
  <div class="row gx-lg-5 align-items-center mb-5 d-flex justify-content-center">
    <div class="col-lg-8 mb-5 mb-lg-0 center">
      <h1 class="mt-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">Players list:</h1>
        <h2 class="text-center d-inline-block" style="color: hsl(218, 81%, 85%)">
          {% for user in users %}
            {% if not user.is_staff %}
              <li>
                  <a> {{ user.username }} </a>
              </li>
            {% endif %}
          {% endfor %}
        </h2>    
      <h1 class="mt-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">Admins:</h1>
        <h2 class="text-center d-inline-block" style="color: hsl(218, 81%, 85%)" > <ul>
          {% for user in users %}
            {% if user.is_staff %}
              <li>
                  <a> {{ user.username }} </a>
              </li>
            {% endif %}
          {% endfor %}
        </h2> 
    </div>
  </div>
</div>

<script>
  gsap.from(".col-lg-8", { duration: 1, opacity: 0, y: 50, ease: "expo.out" });
</script>

{% endblock %}