{% extends 'landing.html' %}
{% block title %}
Welcome to Virtual Casino!
{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

{% comment %} https://img.freepik.com/free-photo/casino-roulette-wheel-close-up-ai-generative_123827-24159.jpg
https://img.freepik.com/free-photo/poker-play-chips-cards-green-table_639032-1474.jpg
https://img.freepik.com/free-photo/gambling-slot-machine-casino_53876-123085.jpg {% endcomment %}

{% block content %}
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="{% static 'roulette.jpg' %}" class="d-block w-100 c-img" alt="Slide 1">
      <div class="carousel-caption top-0 mt-auto">
        <p class="text-uppercase fs-3 mt-5" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Test your luck in</p>
        <h1 class="display-1 fw-bolder text-capitalize mb-5" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Roulette</h1>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'blackjack.jpg' %}" class="d-block w-100 c-img" alt="Slide 2">
      <div class="carousel-caption top-0 mt-auto">
        <p class="text-uppercase fs-3 mt-5" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Comming soon</p>
        <p class="display-1 fw-bolder text-capitalize mb-5" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Baccarat</p>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="{% static 'slot.jpg' %}" class="d-block w-100 c-img" alt="Slide 3">
      <div class="carousel-caption top-0 mt-auto">
        <p class="text-uppercase fs-3 mt-5" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Now fully working</p>
        <p class="display-1 fw-bolder text-capitalize mb-5" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Slot machine</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row justify-content-center my-4 ">
  <div class="col-8 form-outline text-center">
      <a href="{% url 'login' %}" button type="button" class="btn btn-light fw-bold px-4 py-2 fs-5 mt-3" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);">Start playing!</button></a>
  </div>
</div>  

</div> 

<script>
  gsap.from(".col-8", { duration: 1, opacity: 0, y: 50, ease: "circ.out" });
</script>

{% endblock %}