{% extends 'base.html' %}
{% block title %}
User balance
{% endblock %}

{% block content %}

<div class="row justify-content-center m-2">
    <div class="col-lg-6 mb-auto mb-lg-0 mt-5 mx-5">
        <div class="card bg-glass">
        <div class="card-body px-4 py-5 px-md-5">
            <div class = "text-center mt-2 fw-bold" style="color: black">
            <h1> Your balance: <b> {{ user.balance.balance }} </b></h1>
            <h1> Already asked for: <b> {{ user.balance.ask_for_balance }} </b></h1>
            </div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-10 form-outline mt-5 my-4 mx-auto" >
                    {{ form.as_p }}
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary btn-block mb-3 fw-bold">Submit</button>
                    </div>
                    {% comment %}  {{ form.ask_for_balance }} {% endcomment %}
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

<script>
    gsap.from(".card.bg-glass", { duration: 1, opacity: 0, y: 20, ease: "power2.out" });
</script>

{% endblock %}