{% extends 'base.html' %}
{% block title %}
Edit profile
{% endblock %}

{% block content %}

<div class="row justify-content-center m-2">
    <div class="col-lg-8 mb-auto mb-lg-0 mt-5 mx-5">
        <div class="card bg-glass">
        <div class="card-body px-4 py-5 px-md-5">
            <div class = "text-center mt-2 fw-bold" style="color: black">
             <h1>Edit your profile: <b> {{ user.username }} </b> </h1>
            </div class="form-group">
                <form method="POST">
                    {% csrf_token %}

                   {% comment %}  <div class="col-12 form-outline my-4 mx-auto">
                        <label for="{{ form.username.id_for_label }}">Age:</label>
                        {{ form.age }}
                    </div>
                    
                    <div class="col-12 form-outline my-4 mx-auto">
                        <label for="{{ form.username.id_for_label }}">Username:</label>
                        {{ form.username }}
                    </div>
                    
                    <div class="col-12 form-outline my-4 mx-auto">
                        <label for="{{ form.email.id_for_label }}">Email:</label>
                        {{ form.email }}
                    </div> {% endcomment %}

                    <div class="col-12 form-outline my-4 mx-auto" >
                    <p> Your age: {{ user.profile.age }} </p>
                    {{ form.as_p }}
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary btn-block mb-3 fw-bold">Edit profile</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>

<script>
    gsap.from(".card.bg-glass", { duration: 1, opacity: 0, y: 20, ease: "power2.out" });
</script>

{% endblock %}