{% extends 'landing.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}

<div class="row justify-content-center m-2">
  <div class="col-lg-5 mb-auto mb-lg-0 mt-5 mx-auto">
    <div class="card bg-glass">
      <div class="card-body px-4 py-5 px-md-5">

        <div class = "text-center mt-2 fw-bold" style="color: black">
          <h1>Log in to play!</h1>
        </div>

        <form method="POST" action="" >
          {% csrf_token %}
          <div class="col-8 form-outline text-center my-4 mx-auto">
            <input type="text" class="form-control" placeholder = "Nickname" name="username" >
          </div>
          <div class="col-8 form-outline text-center my-4 mx-auto">
            <input type="password" class="form-control" placeholder = "Password" name="password" >
          </div>
          <div class="row mb-4">
            <div class="col d-flex justify-content-end">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="form_remember_me" checked >
                <label class="form-check-label" for="form_remember_me"> Remember me </label>
              </div>
            </div>
            <div class="col d-flex justify-content-start">
              <a href="#!">Forgot password?</a>
            </div>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary btn-block mb-3 fw-bold">Sign in</button>
          </div>
          <div class="text-center fw-bold">
            <p><a href="{% url 'register' %}" class="text-decoration-none">Not a member? Register</a></p>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script>
  gsap.from(".card.bg-glass", { duration: 1, opacity: 0, y: 20, ease: "power2.out" });
</script>

{% endblock %}