{% extends 'landing.html' %}
{% block title %}
Register
{% endblock %}

{% block content %}

<div class="row justify-content-center m-2">
    <div class="col-lg-6 mb-auto mb-lg-0 mt-4 mx-5">
        <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <div class = "text-center mt-2 fw-bold" style="color: black">
                <h1>Register now!</h1>
                </div>

                <form method="POST" action="{% url 'register' %}" >
                    {% csrf_token %}
                    <div class="col-12 form-outline my-4 mx-auto" >
                    {{ form.as_p }}
                    </div>
                
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary btn-block mb-3 fw-bold">Sign up</button>
                    </div>
                    <div class="text-center fw-bold">
                        <p><a href="{% url 'login' %}" class="text-decoration-none">Already member? Log in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    gsap.from(".card.bg-glass", { duration: 1, opacity: 0, y: 20, ease: "power2.out" });
</script>

{% endblock %}