<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 50px;">
    <div id="card_flex" style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 5px;">
        <div id="section_name" class="p-2">Player:</div>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 5px;">
            <div id="card" class="p-2">
                {{face_1}}</br>
                {{suit_1}}
            </div>
            <div id="card" class="p-2">
                {{face_2}}</br>
                {{suit_2}}
            </div>
            <div id="card" class="p-2">
                {{face_3}}</br>
                {{suit_3}}
            </div>
        </div>
    </div>
    <div id="card_flex" style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 5px;">
        <div id="section_name" class="p-2">Banker:</div>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 5px;">
            <div id="card" class="p-2">
                {{face_4}}</br>
                {{suit_4}}
            </div>
            <div id="card" class="p-2">
                {{face_5}}</br>
                {{suit_5}}
            </div>
            <div id="card" class="p-2">
                {{face_6}}</br>
                {{suit_6}}
            </div>
        </div>
    </div>
</div>
{% if initial == 1 %}
<div> </br></div>
{% elif initial == 0 %}
<div
    hx-post="{% url 'bac_post_result' %}" 
    hx-target="#game_result" 
    hx-swap="innerHTML"
    hx-trigger="load"> </br>
</div>
{% endif %}