<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="p-2">
        Chosen {{bet_field}}</br>
        Bet value: {{bet}}
    </div>
    <div class="p-2">
        <button 
            type="button" 
            class="btn btn-primary"
            hx-post="{% url 'play_baccarat' %}" 
            hx-target="#bac_cards"
            hx-swap="innerHTML">
        Play!
        </button>
    </div>
</div>