<style>
  #main_table {
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
  }
</style>
<table id="main_table" class="table table-striped table-sm table-dark">
    <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Bet Value</th>
          <th scope="col">Reset</th>
          <th scope="col">Sum</th>
        </tr>
      </thead>
      <tbody>
        {% for n,b,i in bets %}
        <tr>
            <th scope="row" width="25%">{{n}}</th>
            <th>{{b}}</th>
            <th>
                <button 
                    class="btn btn-primary"
                    hx-vals='{"name": "{{n}}", "bet": "0"}'
                    hx-post="{% url 'roulette_button_action' %}" 
                    hx-target="#main_table" 
                    hx-swap="outerHTML">
                    Remove bet
                </button>
            </th>
            <th>
              {% if i == 0 %}
                {{bet_sum}}
              {% endif %}
            </th>
        </tr>
        {% endfor%}

      </tbody>
</table>
