<div id="machine" class="d-flex flex-row text-black">
    <div id="reel" class="p-2">
        {{reel_1_top}}</br>
        {{reel_1_middle}}</br>
        {{reel_1_bottom}}</br>
    </div>
    <div id="reel" class="p-2">
        {{reel_2_top}}</br>
        {{reel_2_middle}}</br>
        {{reel_2_bottom}}</br>
    </div>
    <div id="reel" class="p-2">
        {{reel_3_top}}</br>
        {{reel_3_middle}}</br>
        {{reel_3_bottom}}</br>
    </div>
</div>
<div
    hx-post="{% url 'update_slot_balance' %}" 
    hx-target="#random" 
    hx-swap="innerHTML"
    hx-trigger="load"> 
</div>