<div class="p-3 mb-2 text-white">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; row-gap: 10px">
        <div id="reels"></div>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 10px;">
            Spin for:
            <input type="number" min="0" id="bet_value_spin" value="type_value">
        </div>
        <button 
            class="btn btn-primary" 
            id="play"
            hx-vals='js:{"name": "slot", "bet": document.getElementById("bet_value_spin").value}'
            hx-post="{% url 'spin_slot' %}" 
            hx-target="#reels" 
            hx-swap="innerHTML"> 
            Spin
        </button>
        <div id="random"></div>
    </div>
</div>
<div
    hx-post="{% url 'load_slot' %}" 
    hx-target="#reels" 
    hx-swap="innerHTML"
    hx-trigger="load"> 
</div>

<script>
    gsap.from(".p-3", { duration: 0.8, opacity: 0.5, x: -2000, ease: "power4.out" });
</script>